<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SampahKu</title>
    <link rel="icon" href="./public/images/logo.png" type="image/png" />
    <script
      src="https://kit.fontawesome.com/c41c9892b9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
  </head>

  <body>
    <header>
      <div id="navbar">
        <div id="logo">
          <img src="./public/images/logo.png" alt="" width="200px" />
          <h1><a href="#/home">SampahKu</a></h1>
        </div>
        <div id="link">
          <a href="#/home">HOME</a>
          <a href="#/klasifikasi">KLASIFIKASI</a>
          <a href="#/tpa">TPA</a>
        </div>
        <div id="hamburgerMenu">
          <button id="btnHamburger">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
        <div id="link2">
          <ul>
            <li><a href="#/home">HOME</a></li>
            <li><a href="#/klasifikasi">KLASIFIKASI</a></li>
            <li><a href="#/tpa">TPA</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main id="main"></main>

    <footer>
      <p>
        SampahKu |<a href="#"> KOMPRES IFLAB Team AFQO. All rights reserved.</a
        >| &copy; 2024-2025.
      </p>
    </footer>
  </body>
</html>
