<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c41c9892b9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div id="navbar">
        <div id="logo">
          <img src="./public/images/logo.png" alt="anjng" width="200px" />
          <h1>SampahKu</h1>
        </div>
        <div id="link">
          <a href="">HOME</a>
          <a href="">KLASIFIKASI</a>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="deskripsi">
        <h2>Klasifikasikan</h2>
      </div>
      <div id="container">
        <div id="containerFile">
          <div id="file">
            <div id="imagePreview"></div>
            <label for="" id="logoFile"
              ><img src="./public/images/logoFile.png" alt=""
            /></label>
            <input type="file" id="imageUpload" accept="image/*" />
            <label for="" id="labelFile">Unggah Gambar</label>
          </div>
          <button id="buttonKlasifikasi">Pilih Gambar</button>
        </div>

        <div id="containerHasil">
          <!--<div id="penagulanganPage">
        <h2>Penagulangan</h2>
        <hr />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>-->
        </div>
      </div>
      <div id="loader" class="ldld full"></div>
    </main>
    <footer>
      <div class="credit">
        <p>
          SampahKu |<a href="#">
            KOMPRES IFLAB Team AFQO. All rights reserved.</a
          >| &copy; 2024-2025.
        </p>
      </div>
    </footer>
  </body>
</html>
