* {
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1e1e1e;
  color: white;
}
body,
html {
  height: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#navbar #logo {
  margin-left: 30px;
}
#navbar #link {
  margin-right: 50px;
}
#navbar #link a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#navbar #logo img {
  width: 75px;
}
#navbar #logo {
  display: flex;
  align-items: center;
}
#navbar #logo a {
  text-decoration: none;
}
#navbar {
  letter-spacing: 3px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#hamburgerMenu {
  position: absolute;
  right: 10px;
  top: 15px;
  display: none;
  z-index: 99;
}
#btnHamburger {
  border: none;
  margin-left: 150px;
  outline: none;
  box-shadow: none;
}
#btnHamburger i {
  font-size: 25px;
  padding: 5px;
  color: white;
}
#link2 {
  border-radius: 5px;
  border: 1px solid white;
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 99;
}
#link2 ul {
  list-style: none;
}
#link2 a {
  display: block;
  padding: 10px 0;
  margin: 20px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 0 30px;
  line-height: 25px;
  margin-block: 25px 20px;
}
#main #containerHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
#main #containerHome #kuning {
  position: absolute;
  top: 20px;
  left: 130px;
  background-color: transparent;
}
#main #containerHome #biru {
  position: absolute;
  top: 60px;
  left: 255px;
  background-color: transparent;
}
#main #containerHome .intro h1 {
  position: absolute;
  background-color: transparent;
  top: 135px;
  font-size: 40px;
}
#main #containerHome .intro {
  text-align: justify;
  width: 500px;
  margin-right: 120px;
  padding-top: 70px;
  line-height: 30px;
}
#main #containerHome #btnMulai a {
  padding: 15px 40px;
  background-color: #ffc107;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 25px;
  color: #000;
}
#main #containerHome #btnMulai {
  padding: 15px 25px;
  border-radius: 17px;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #ffc107;
}
#main #containerHome .intro p {
  padding-block: 35px 25px;
  font-size: 22px;
}
#main #containerHome .bckGroundHome img {
  width: 895px;
}
#deskripsi h2 {
  padding: 10px;
  font-size: 50px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
}

#file {
  display: flex;
  flex-direction: column;
  border: 1px #ffc849 dashed;
  margin: 0 auto 30px auto;
  border-radius: 25px;
  width: 500px;
  height: 400px;
  position: relative;
}
#file input {
  opacity: 0;
}
#file #labelFile {
  position: relative;
  top: -80px;
  width: 400px;
  left: 46px;
  font-size: 30px;
}
#file #logoFile {
  position: relative;
  top: 80px;
}
#containerFile {
  align-self: center;
  margin-top: 50px;
  margin-right: 50px;
}

#imagePreview {
  position: relative;
}

#buttonKlasifikasi {
  background-color: #ad9866;
  color: black;
  padding: 15px;
  width: 500px;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 10px;
}

#buttonExit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: red;
  background: none;
  font-size: 30px;
  border: none;
  outline: none;
  box-shadow: none;
}

#imageUpload {
  margin: auto;
  width: 50%;
}

#containerHasil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#containerHasil button {
  margin-right: 0;
  padding: 10px 30px 20px 30px;
  border-bottom: none;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hasil {
  border: 6px solid #ffc849;
  border-radius: 0 10px 10px 10px;
  width: 600px;
}

#hasil hr {
  border: 2px solid #ffc849;
}

#hasil table tr th {
  font-size: 20px;
  border-radius: 1px solid white;
  text-align: justify;
  padding: 15px 20px;
}

#hasil p {
  padding: 31.5px;
  text-align: justify;
}
#hasil ul {
  padding-inline: 35px;
}
#hasil ul li {
  text-align: justify;
  padding-bottom: 20px;
}
#hasil h2 {
  padding: 30px;
}

#hasil span {
  padding-left: 30px;
}

#headHasil {
  align-self: start;
  display: flex;
  flex-direction: row;
}

#headHasil #hasilKlasifikasi,
#headHasil #penagulangan {
  font-size: 20px;
  margin-right: 2px;
  color: black;
  font-weight: bolder;
  background-color: #ffc849;
  border: 6px solid #ffc849;
  border-radius: 33px 33px 0 0;
}

#progresBar {
  position: relative;
}
#progresBar2 {
  position: relative;
}
.fa-xmark {
  background-color: transparent;
  width: 50px;
  color: black;
}
footer {
  background-color: #ffc107;
  text-align: center;
  border-radius: 20px;
  padding: 25px 0;
  width: 100%;
  flex-shrink: 0;
  margin-top: 90px;
}

footer p {
  background-color: #ffc107;
  color: #000;
  font-size: 20px;
}
footer a {
  color: #000;
  font-weight: 700px;
  text-decoration: none;
  background-color: #ffc107;
}

footer a:hover {
  color: #000;
}
.button-loading {
  position: relative;
}

.button-loading::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 30%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
